.destination-background {
  height: 84vh;
  position: fixed;
  bottom: 0;
  left: 12px;
  width: 101vw;
  background-color: white;
  animation: slide-in-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.destination-title {
  font-size: 18px;
  letter-spacing: 1px;
  margin-top: 1.5vh;
  font-weight: bold;
}
.destination-table {
  height: 67vh;
}
.destination-columns {
  color: rgba(128, 128, 128, 0.658);
  font-size: 1vw;
  letter-spacing: 1px;
  border-right: 7px solid white;
}
.destination-value {
  height: 6.5vh;
  font-size: 1vw;
  letter-spacing: 1px;
  border-radius: 8px;
  border-right: 7px solid #1359a1;
  margin-bottom: 12px;
  box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.555);
}
.blue-color {
  color: #1359a1;
}
.delete-btn {
  border: 0;
  border-radius: 5px;
  background-color: #1359a1;
  color: white;
}
.post-new-destination{
  font-size: 28px;
  cursor: pointer;
}
