.dashboard-container {
  height: 84vh;
  position: fixed;
  left: 12px;
  bottom: 0;
  width: 100vw;
  background-color: white;
  animation: slide-in-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.depart-now-container, .returning-now-container{
  height: 450px;
  margin-top: 20px
}
.depart-title{
  font-size:  16px;
  letter-spacing: 1px;
  margin-top: 1.5vh;
  font-weight: bold;
}
.return-title{
  font-size:  16px;
  letter-spacing: 1px;
  font-weight: bold;
}
