.dashboard-container {
  height: 84vh;
  position: fixed;
  left: 12px;
  bottom: 0;
  width: 100vw;
  background-color: white;
  animation: slide-in-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.data-dashboard{
  height: 200px;
}
.data-icons{
  font-size: 25px;
}
.data-height{
  height: 190px;
}
.total-sales{
  background-color: rgba(0, 128, 0, 0.842);
  color: white;
  border-radius: 10px;
  letter-spacing: 2px;
}
.total-users{
  background-color: rgba(17, 123, 243, 0.836);
  color: white;
  border-radius: 10px;
  letter-spacing: 2px;
}
.total-flights{
  background-color: rgba(255, 68, 0, 0.801);
  color: white;
  border-radius: 10px;
  letter-spacing: 2px;
}
.total-approved{
  background-color: rgba(148, 185, 12, 0.801);
  color: white;
  border-radius: 10px;
  letter-spacing: 2px;
}

.depart-now-container, .returning-now-container{
  height: 400px;
  margin-top: 20px
}
.depart-title{
  font-size:  16px;
  letter-spacing: 1px;
  margin-top: 1.5vh;
  font-weight: bold;
}
.return-title{
  font-size:  16px;
  letter-spacing: 1px;
  font-weight: bold;
}
