.list-background {
  height: 84vh;
  position: fixed;
  bottom: 0;
  left: 12px;
  width: 101vw;
  background-color: white;
  animation: slide-in-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.list-title{
  font-weight: bold;
  font-size: 1vw;
}
.list-pic{
  font-size: 30px;
  color: #1359A1;
}
.tickets-list-container{
  height: 70vh;
}
.table-discription{
  color: rgba(128, 128, 128, 0.685);
  font-weight: bold;
}

.ticket-values-container{
  height: 270px;
  border-radius: 8px;
  box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.555);
}
.ticket-logo {
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 0.5px;
  color: #1359A1;
}
.ticket-logo-2 {
  font-size: 8px;
  letter-spacing: 0.4px;
  color: #1359A1;
}
.ticket-type{
  font-size: 13px;
}
.ticket-label{
  font-size: 10px;
  color: rgba(128, 128, 128, 0.802);
}
.ticket-value{
  font-size: 12px;
  font-weight: bold;
}
.ticket-picture{
  border-radius: 0 8px 8px 0;
  background-image: url("../../photos/airplane.jpg");
  background-size: cover;
  height: 270px;
}