.update-background {
  height: 78vh;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 101vw;
  background-color: white;
  animation: slide-in-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.owner-information{
  height: 80vh;
  background-color: #1359A1;
  color: white;
}
.return-btn{
  font-size: 30px;
  cursor: pointer;
}
