.nav-logo {
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 0.5px;
    color: #EAEAEA;
}

.nav-logo-2 {
    font-size: 10.7px;
    color: #EAEAEA;
    letter-spacing: 0.4px;
}

.navigation-links {
    color: #EAEAEA;
}

.navigation-links:hover {
    color: #EAEAEA;
}

.boot-icons {
    font-size: 22px;
    color: #EAEAEA;
}

.container-background {
    background-image: url(/src/components/photos/CCLEX.jpg);
    height: 78vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.ui-row {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    height: 22vh;
}
.footer-picture{
    background-image: url(/src/components/photos/illustration.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
