.form-container{
    height: 73vh;
    color: #1359A1;
}

.text-logo {
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 0.5px;
    color: #1359A1;
}
.text-logo-2{
    font-size: 12.2px;
    color: #1359A1;
}

.eyorn-label {
    font-weight: 900;
    letter-spacing: 0.5px;
}

.input-container{
    background-color: #EAEAEA;
    height: 50px;
}
.input-container::placeholder{
    font-size: 13px;
}
.login-btn{
    letter-spacing: 0.5px;
    font-size: 18px;
    height: 50px;
    background-color: #1359A1;
}

.Create-Link {
    letter-spacing: 0.5px;
    font-size: 14px;
}

.pic-side{
    background-image: url(/src/components/photos/airplane.jpg);
    background-size: cover;
}
.pic-side-login, .login-side{
    animation: slide-in-right 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.error-response{
    font-weight: bold;
    font-size: 13px;
    color: #ec0a0a;
}

/* Animation */
@keyframes slide-in-right {
    0% {
      transform: translateX(1000px);
      opacity: 1;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }