.form-container{
    height: 73vh;
    color: #1359A1;
}

.text-logo {
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 0.5px;
    color: #1359A1;
}
.text-logo-2{
    font-size: 12.2px;
    color: #1359A1;
}

.eyorn-label {
    font-weight: 900;
    letter-spacing: 0.5px;
}
.form-control::placeholder{
    font-size: 13px;
}
.input-container{
    background-color: #EAEAEA;
    height: 50px;
}

.login-btn{
    letter-spacing: 0.5px;
    font-size: 18px;
    height: 50px;
    background-color: #1359A1;
}


.Create-Link {
    letter-spacing: 0.5px;
    font-size: 14px;
}

#pic-side{
    background-image: url(/src/components/photos/airplane.jpg);
    background-size: cover;
}