.explore-background {
  height: 83vh;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  animation: slide-in-bottom 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.top-big-text {
  font-size: 22px;
}
.top-small-text {
  font-size: 11px;
  margin-top: 0px;
}

.destination-container {
  height: 57vh;
}

/* Pictures in container */
.background-picture {
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  letter-spacing: 2px;
  box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, 3.35);
}
.background-picture:hover {
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.el-nido-container {
  background-image: url("/src/components/photos/explore/El Nido Palawan.jpg");
}
.baguio-container {
  background-image: url("/src/components/photos/explore/Baguio.jpg");
}
.boracay-container {
  background-image: url("/src/components/photos/explore/Boracay.jpg");
}
.puerto-pricesa-container {
  background-image: url("/src/components/photos/explore/Puerto Princesa.jpg");
}
.zamboanga-hermosa {
  background-image: url("/src/components/photos/explore/Zamboanga Hermosa.jpg");
}
.whale-watching {
  background-image: url("/src/components/photos/explore/Whale Shark Watching.jpg");
}

/* text inside the container (small) */
.picture-text-large {
  font-size: 14px;
  margin-left: 8px;
}

.picture-text-small {
  font-size: 9px;
  margin-left: 8px;
  margin-bottom: 7px;
}

/* Hover the picture animation */
@keyframes scale-up-center {
  0% {
    transform: scale(1);
    text-align: left;
  }
  100% {
    transform: scale(1.1);
    text-align: center;
  }
}
/* Explore background animation */
@keyframes slide-in-bottom {
  0% {
    transform: translateY(1000px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
