.App {
  font-family: 'Poppins', sans-serif;
  background-image: url(C:\Users\Admin\Desktop\ticketsystem\src\components\photos\CCLEX.jpg);
  height: 78vh;
  background-size: cover;
  background-repeat: no-repeat;
}
